<!--HTML mentee page, displayed to logged in mentees-->

<!DOCTYPE html>
<%= erb :"common/header" %>
<body id="Welcome Page">
    <header>
        <h1>E-Mentor</h1>
    </header>

    <main>
        <p>Your Mentee Page</p>
        <%= h @s %>
        <p>
            Please input the Job Title and Industry Sector of the mentor you want to find!
        </p>
        <form method="post" action="/mentee">
            <%= erb :"common/industrySector" %>
        </form>

        <% if @table_Show%>
            <% if @mentors.count > 0 %>
                <table class = "centerTable">
                    <tr  id = "mentorTable">
                        <th>Name</th>
                        <th>Job Title</th>
                        <th>Industry Sector</th>
                    </tr>
                    <% @mentors.each do |mentor| %>
                    <tr>
                        <td><%= h mentor.name %></td>
                        <td><%= h mentor.job_Title %></td>
                        <td><%= h mentor.industry_Sector %></td>
                        <td><a href="/view-Mentor?id=<%= h mentor.id %>">View More?</a></td>
                    </tr>
                    <% end %>
                </table>
            <%else %>
                <p class = "error">
                    Sorry no mentors found
                </p>
            <% end %>
        <% end %>
    </main>
</body>
<%= erb :"common/footer" %>