<!--HTML mentee page, displayed to logged in mentees-->

<!DOCTYPE html>
<%= erb :"common/header_loggedin" %>
<body id="Welcome Page">


    <main>
        <h2>Mentee Dashboard</h2>
        <%= h @s %>
        <p>
            Please input the Job Title and Industry Sector of the mentor you want to find!
        </p>
        <% if @table_show2%>
            <p>You have been matched. Details to talk to them are below! </p>
                           <table class = "centerTable" border="1">
                    <tr  id = "mentorTable">
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    <tr>
                        <td><%= h @mentee.name %></td>
                        <td><%= h @mentee.email %></td>
                    </tr>
                </table>
            <br><br>
        <% end %>
        <form method="post" action="/mentee">
            <%= erb :"common/industrySector" %>
            <input type="submit" value="Submit">
        </form>
        <br>
        <% if @table_show%>
            <% if @mentors.count > 0 %>
                <table class = "centerTable" border="1">
                    <tr  id = "mentorTable">
                        <th>Name</th>
                        <th>Job Title</th>
                        <th>Industry Sector</th>
                        <th>Action</th>
                    </tr>
                    <% @mentors.each do |mentor| %>
                    <tr>
                        <td><%= h mentor.name %></td>
                        <td><%= h mentor.job_Title %></td>
                        <td><%= h mentor.industry_Sector %></td>
                        <td><a href="/view-mentor?id=<%= h mentor.id %>">View More</a></td>
                    </tr>
                    <% end %>
                </table>
            <%else %>
                <p class = "error">
                    Sorry, no mentors found.
                </p>
            <% end %>
        <% end %>
    </main>
</body>
<%= erb :"common/footer" %>