<!--HTML mentor details page, displayed to logged in mentees-->
<!DOCTYPE html>

<!--Inserts a common header-->
<%= erb :"common/header_loggedin" %>
<body id="Mentor Details Page">


    <main>
        <p>Your potential Mentor's profile</p>
        <p>
            The mentor you have selected is: <%= h @mentor.name %>
        </p>
        <p>
        The mentor's available time is: <%= h @mentor.available_time %>
        </p>
        <p>
            The description of your mentor:
        </p>
        <p>
            <%= h @mentor.get_descriptions %>
        </p>
        <% if @error_correct%>
            <p  id="error" >
                <b>You can't send more then one invitation in less then 24 hours</b>
            </p>
        <% end %>

        <form name="contact" method="post" action="/post-mentee-invite?mentor_Id=<%= h @mentor.id %>" >
            <label for="GET-comments">Add your introduction here!</label> 
            <br>
            <textarea name="comments" rows="5" cols="32" placeholder="Write your introduction email here..."></textarea>
            <br>
            <br>
            <input type="submit" value="Submit"><br>
        </form>

    </main>
</body>

<!--Inserts a common footer-->
<%= erb :"common/footer" %>