
<!DOCTYPE html>
<%= erb :"common/header_loggedin" %>
<body id="Mentee Details Page">
    <main>
        <p>Your potential Mentee's profile</p>
        <p>
            The mentee you have selected is <%= h @mentee.name %>
        </p>
        <p>
            The description of your mentee
        </p>
        <p>
            <%= h @mentee.get_descriptions %>
        </p>

        <form name="contact" method="post" action="/post-mentor-accept?mentee_Id=<%= h @mentee.id %>" >
            <label for="GET-comments">Choose what you want to do with the invite and click submit to send your decision:</label>
            <input type="radio" id="acceptDecision" name="decision" value="accept" required>
            <label for="mentee">Accept</label>
            <input type="radio" id="rejectDecision" name="decision" value="reject">
            <label for="mentor">Reject</label>
            <br>
            <br>
            <input type="submit" value="Submit"><br>
        </form>

    </main>
</body>
<%= erb :"common/footer" %>