<!--HTML mentor details page, displayed to logged in mentees-->

<!DOCTYPE html>
<%= erb :"common/header_loggedin" %>
<body id="Mentor Details Page">


    <main>
        <p>Your potential Mentor's profile</p>
        <p>
            The mentor you have selected is <%= h @mentor.name %>
        </p>
        <p>
            The description of your mentor 
        </p>
        <p>
            <%= h @description %>
        </p>
        </p>
        <form name="contact" action="mailto:<%= h @mentor.email %>?subject=Mentee Invitation&body=You have received a request from <% h @mentor.name %>to meet." method="POST">
            <label for="GET-email">Your email address: </label><input id="GET-email" type="email" name="email" maxlength="40" size="30" required>
            <br>
            <br>
            <textarea name="comments" rows="5" cols="32" placeholder="Write your invitation email here..."></textarea>
            <br>
            <br>
            <input type="submit" value="Submit"><br>
        </form>

    </main>
</body>
<%= erb :"common/footer" %>