<!DOCTYPE html>

<!--Inserts a common header-->
<%= erb :"common/header_loggedin_admin" %>
<body id="User Details Page">
  <main>
    <p>You have selected a user who is a <%= h @view_user.get_privileges %></p>
    <p>The user you have selected is: <%= h @view_user.name %></p>
    <p>The description of your user: <%= h @view_user.get_descriptions %></p>

    <% if @mentee_profile %>
      <p>Their university is: <%= h @view_user.university %> </p>
      <p>Their degree is: <%= h @view_user.degree %> </p>
      <p>Their telephone is: <%= h @view_user.telephone %> </p>
    <% elsif @mentor_profile %>
      <p>Their job title is: <%= h @view_user.job_title %> </p>
      <p>Their industry sector is: <%= h @view_user.get_industry_sectors %> </p>
      <p>Their available time is: <%= h @view_user.available_time %> </p>
    <% end %>

    <a href="/change-user?id=<%= h @view_user.id %>">Change Details</a> <br>
    <a href="/suspension?id=<%= h @view_user.id %>">Suspension</a>
  </main>
</body>

<!--Inserts a common footer-->
<%= erb :"common/footer" %>